button {
  cursor: pointer;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
}

.App-logo-spinning {
  height: 16vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 1s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* min-height: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1rem;
}

.App-link {
  color: #61dafb;
  margin: 1vh 3vh;
}

input {
  padding: 0.6rem;
  font-size: 1rem;
}

.Content {
  background-color: #091526;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Cat-button {
  background-color: skyblue;
  color:darkblue;
  border: 2px solid darkblue;
  border-radius: 3px;
  padding: 6px 10px;
  margin: 5px;
}

.Cat-button:hover {
  color: skyblue;
  background-color: darkblue;
}

.Joke {
  margin: 30px 30px 0 30px;
  padding: 16px;
  border: 3px dashed white;
  max-width: 55%;
}

.Search-Button {
  width: 100%;
  padding: 15px;
  background-color: darkorange;
  color: #091526;
  border: 1px solid darkorange;
}

.Search-Button:hover {
  background-color: #091526;
  color: orange;
}

.Chuck-Logo {
  height: 13rem;
  margin-top: 4rem;
}

.Selected-Cat {
  color: black;
  background-color: darkorange;
  border: 1px solid darkorange;
  border-radius: 4px;
  padding: 0 2rem;
  margin: 0.3rem;
}

.Random-Button {
  color: darkorange;
  background-color: black;
  border: 3px solid darkorange;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.Random-Button:hover {
  color: black;
  background-color: darkorange;
}

.Joke-Value {
  color: orange;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  color: wheat;
  background-color: black;
  padding: 5px;
  content: '';
}

input {
  border: 2px dashed darkorange;
  color: darkorange;
  background-color: #091526;
}

a {
  color: skyblue;
}

h2 {
  font-weight: bold;
  font-size: large;
  padding: 1rem 0;
}

p {
  margin: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
